/* montserrat-regular - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-900 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #999999;
}

/* Стили для header */
.menu{
  max-width: 1113px;
  margin: 0 auto;
}
.header{
  min-height: 100vh;
  background: url(img/bg-header.jpg) no-repeat center;
  background-size: cover;
}
.header-nav{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 50px;
  /*border-bottom: 1px solid #A1A1A1;*/
}
.header-nav-list{
  display: flex;
  flex-wrap: wrap;
}
.header-nav-item{
  margin-right: 40px;
  list-style-type: none;
  padding-bottom: 50px;
}
.header-nav-item:last-child{
  margin-right: 0;
}
.header-nav-item:hover{
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 48px;
}
.header-link{
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
hr{
  width: 100%;
  height: 2px;
  border: none;
  background-color: #A1A1A1;;
  color: #A1A1A1;
}

.title{
  max-width: 829px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 120px;
  text-align: center;
  color: #FFFFFF;
}
.title h1{
  padding: 2px 0 50px;
  line-height: 64px;
  font-size: 48px;
}
.btn-project{
  width: 200px;
  height: 45px;
  padding: 13px 36px 15px;
  margin: auto;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.btn-project:hover{
  background-color: #0052F9;
}


/* Стили для first-block */
.first{
  max-width: 1113px;
  margin: 0 auto;
}
.first-block{
  max-width: 740px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.first-block h2{
  padding-top: 110px;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}
.first-block-title{
  padding-top: 50px;
  line-height: 25px;
  text-align: center;
}
.first-block-cards{
  display: grid;
  grid-template-columns: 5% 25% 5% 25% 5% 25%;
  justify-content: flex-start;
  padding: 80px 0 50px;
  justify-content: space-between;
}
/*.fist-cards-1{  
  grid-column-gap: 18px;
}*/
.fist-cards-1{  
  width: 60px;
  padding-right: 7px;
}
.fist-cards-2{  
  width: 222px;
}
.first-cards-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: left;
}
.first-cards-text{
  padding-top: 12px;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}
.btn-first-block{
  width: 200px;
  height: 45px;
  padding: 13px 36px 15px;
  margin: auto;
  margin-bottom: 105px;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  text-align: center;
}
.btn-first-block a{
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.btn-first-block:hover{
  background-color: #0052F9;
}


/* Стили для second-block */
.second{
  background-color: #F6F6F8;
}
.second-block{
  max-width: 1113px;
  margin: 0 auto;
}
.second-block-txt{
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 0 90px; 
}
.second-block-txt-1{
  max-width: 510px;

}
.second-block-txt-1 h2{
  padding: 52px 110px 40px 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: left;
  color: #323232;
}
.second-block-txt-1 p{
  line-height: 25px;
  padding-bottom: 30px;
}
.link{
  padding-top: 30px;
  color: #4985FF;
  line-height: 20px;
  font-weight: 500;
}
.link:hover{
  color: #0052F9;
  text-decoration: none;
}
.second-block-img img{
max-width: 500px;
}
.second-block hr{
  width: 100%;
  height: 1px;
  border: none;
  background-color: #E0E0E0;
  color: #E0E0E0;
}
.second-block-icon{
  padding: 70px 0 70px 95px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.second-block-icon1{  
  width: 105px;
  color: #000000;
  text-align: left;
}
.second-block-icon1 span{
  font-size: 36px;
  line-height: 53px;
  padding-left: 15px;
}
.second-block-icon1 p{
  line-height: 25px;
  color: #999999;
}
.second-block-icon1 p:hover{
  text-decoration: underline;
}

/* Стили для third-block */
.third{
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  height: 490px;
}
.third-block{
  max-width: 1113px;
  margin: 0 auto;
}
.third-block-cards{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 100px 0 70px;
  justify-content: space-between;
}
.third-block-cards-1 h2{  
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
}
.third-block-cards .btn-first-block{
  margin: auto;
  margin-right: 0;
}
.third-block-img{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  transform: translateY(0%);
}
.third-block-img-1{
    max-width: 350px;
}
.third-block-img img{
  border-radius: 10px;
}
.title3{
  padding: 30px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.title3 span{
  color: #4985FF;
}
.main-txt{
  line-height: 25px;
  padding-bottom: 30px;
}
.third-block hr{
  margin: 85px 0;
  width: 100%;
  border-top: 1px solid #E0E0E0;
}

/* Стили для fourth-block */
.fourth{
  background-color: #F6F6F8;
}
.fourth-block{
  max-width: 1113px;
  margin: 0 auto;
  padding-bottom: 130px;
}
.fourth-block-cards{
  max-width: 730px;
  margin: 0 auto;
  margin-top: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.fourth-block-cards-1{
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
    padding-top: 75px; 
}
.fourth-block-cards-2{
  padding-top:35px; 
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
}
.fourth-block-img{
  max-width: 1110px;
  padding: 70px 0 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
}
.btn-fourth-block{
  width: 200px;
  height: 45px;
  padding: 13px 36px 15px;
  margin: auto;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  text-align: center;
}
.btn-fourth-block a{
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.btn-fourth-block:hover{
  background-color: #0052F9;
}

/* Стили для fifth-5-block */
.fifth-5{
   height: 570px;

  background: url(img/bg-2.jpg) no-repeat center;
  background-size: cover;
}
.fifth-5-block{
  max-width: 970px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.fifth-5-block-txt .title5{
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #FFFFFF;
  padding: 70px 0 30px;
}
.fifth-5-block-txt p{
  padding-bottom: 70px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
.fifth-5-block-video{
  background: url(img/bg-video.png) no-repeat center;
  background-size: cover;
  width: 970px;
  height: 430px;
  border-radius: 10px;
}
.fifth-5-block-video-btn{
  max-width: 300px;
  padding: 167px 335px; 
}
.fifth-5-block-video-btn img:hover{
  width: 320px;
}
